/* ==================== FONTS ==================== */


/*Roboto*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*==================== VARIABLES CSS ====================*/

:root {
    /*HEADER HEIGHT*/
    --header-heigth: 5rem;
    /*FONT-SIZE*/
    --fsize-icones: 30px;
    /*COLORS*/
    --first-color: #ffffff;
    --second-color: #333333;
    --third-color: #0084ff;
    --fourth-color: #f0f0f0;
    --deconnexion-color: #db4b4b;
    --deconnexion-color-hover: #e00000;
}

@media screen and (min-width: 1200px) {
     :root {
        --header-heigth: 6rem;
    }
}


/* @media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {} */


/* ==================== CLASSES GENERALES ==================== */

*,
 ::after,
 ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
}

body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    background: var(--fourth-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* ==================== MESSAGE D'ERREUR CONNEXION ==================== */

.error__msg {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: var(--first-color);
    padding: 15px 20px;
    border-radius: 5px;
}


/* ==================== SCROLLBAR ==================== */

::-webkit-scrollbar {
    width: 1em;
    background: var(--second-color);
}

::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 20px;
}


/* ==================== HEADER ==================== */

#header {
    width: 100%;
    height: var(--header-heigth);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
}

#header .nav__container {
    width: 100%;
    height: var(--header-heigth);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#header .nav__container .nav__toggleBtn .bx-menu {
    font-size: var(--fsize-icones);
}

#header .nav__container .nav__brand a img {
    height: var(--header-heigth);
    padding: 15px;
}

#header .nav__container .nav__menu {
    width: 100%;
    height: calc(100vh - var(--header-heigth));
    position: fixed;
    top: var(--header-heigth);
    left: -100%;
    padding: 40px;
    background: var(--fourth-color);
    transition: all 0.2s ease-in-out;
}

#header .nav__container .show_menu {
    left: 0%;
}

#header .nav__container .nav__menu .nav__list .nav__item .nav__link {
    position: relative;
    display: block;
    padding: 20px 0;
    font-size: 25px;
    font-weight: 500;
    color: var(--second-color);
    transition: 0.3s all ease-in-out;
}

#header .nav__container .nav__leaveBtn button {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--deconnexion-color);
    color: var(--first-color);
    border: none;
    border-radius: 30px;
    user-select: none;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

#leaveBtn1 {
    display: none;
}

#header .nav__container .nav__menu .nav__list .nav__leaveBtn button:hover {
    background: var(--deconnexion-color-hover);
}


/* ==================== HEADER RESPONSIVE ==================== */

@media screen and (min-width: 768px) {
    #header .nav__container {
        width: 100%;
    }
    #header .nav__container .nav__toggleBtn {
        display: none;
    }
    #header .nav__container .nav__brand a img {
        padding: 10px;
    }
    #header .nav__container .nav__menu {
        width: auto;
        height: auto;
        padding: 0px;
        position: relative;
        top: 0;
        left: 0%;
        display: flex;
        align-items: center;
        background: none;
    }
    #header .nav__container .nav__menu .nav__list {
        display: flex;
        align-items: center;
    }
    #header .nav__container .nav__menu .nav__list .nav__item .nav__link {
        padding: 31px 0;
        margin-left: 30px;
        font-size: 15px;
    }
    #header .nav__container .nav__menu .nav__list .nav__item .nav__link::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 3px;
        background: var(--third-color);
        transition: 0.2s all ease-in-out;
    }
    #header .nav__container .nav__menu .nav__list .nav__item .active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: var(--third-color);
        transition: 0.2s all ease-in-out;
    }
    #header .nav__container .nav__menu .nav__list .nav__item .nav__link:hover:after {
        width: 100%;
    }
    #header .nav__container .nav__menu .nav__list .nav__item .nav__link:hover {
        color: var(--third-color);
    }
}

@media screen and (min-width: 992px) {
    #leaveBtn1 {
        display: block;
        margin-left: 30px;
    }
    #leaveBtn1 button {
        width: 130px;
        padding: 10px 15px;
    }
    #leaveBtn2 {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    #header .nav__container .nav__brand a img {
        padding: 20px;
    }
    #header .nav__container .nav__menu .nav__list .nav__item .nav__link {
        margin-left: 60px;
        padding: 39px 0;
    }
    #leaveBtn1 {
        margin-left: 60px;
    }
}


/* ==================== SECTION DIRECTONS PAGE ==================== */

#direction-list {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#direction-list .directionList__container {
    width: 100%;
    margin-bottom: 20px;
    background: var(--first-color);
    border-radius: 5px;
    text-align: center;
}

#direction-list .directionList__container span {
    display: block;
    color: var(--second-color);
    font-size: 60px;
    padding: 30px;
    transition: all 0.2s ease-in-out;
}

#direction-list .directionList__container:hover span {
    color: var(--third-color);
}

#direction-list .directionList__container hr {
    width: 80%;
    margin: 0 auto;
    border: 1px solid var(--second-color);
    background: var(--second-color);
    transition: all 0.2s ease-in-out;
}

#direction-list .directionList__container:hover hr {
    border: 1px solid var(--third-color);
    background: var(--third-color);
}

#direction-list .directionList__container p {
    padding: 30px;
    color: var(--second-color);
    transition: all 0.2s ease-in-out;
}

#direction-list .directionList__container:hover p {
    color: var(--third-color);
}


/* ====================  RESPONSIVE SECTION DIRECTIONS PAGE ==================== */

@media screen and (min-width: 576px) {
    #direction-list {
        padding: 30px;
    }
    #direction-list .directionList__container {
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (min-width: 768px) {
    #direction-list .directionList__container {
        width: calc(100% / 2 - 30px);
    }
}

@media screen and (min-width: 992px) {
    #direction-list {
        height: calc(100vh - var(--header-heigth) - 78px);
        align-items: center;
    }
    #direction-list .directionList__container {
        width: calc(100% / 4 - 30px);
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1200px) {}


/* ==================== SECTION FOOTER ==================== */

footer {
    width: 100%;
    padding: 30px;
    background: var(--second-color);
    color: var(--first-color);
    text-align: center;
}


/* ==================== HEADER + FORMULAIRE DE CONNEXION (page : connexion.php) ==================== */

#header-connexion {
    width: 100%;
    height: var(--header-heigth);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--first-color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#header-connexion img {
    height: var(--header-heigth);
    padding: 10px;
}

#connexion {
    width: 90%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background: var(--first-color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#connexion h1 {
    text-align: center;
    font-size: 25px;
}

#connexion label input,
#connexion input[type="submit"] {
    width: 100%;
    height: 45px;
    margin-top: 25px;
    font-size: 15px;
}

#connexion label input {
    padding: 15px;
    border: solid 1.5px var(--fourth-color);
    border-radius: 5px;
}

#connexion input[type="submit"] {
    text-transform: uppercase;
    font-weight: 600;
    background: var(--third-color);
    color: var(--first-color);
    border: none;
    border-radius: 5px;
}


/* ====================  RESPONSIVE HEADER + FORMULAIRE DE CONNEXION ==================== */

@media screen and (min-width: 768px) {
    #connexion {
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    #connexion {
        width: 50%;
        padding: 30px;
    }
}

@media screen and (min-width: 1200px) {
    #connexion {
        width: 30%;
        padding: 40px;
    }
}


/* ==================== CLASSES DES PAGES COMPTES RENDU / VISITEUR / PRATICIENS / MEDICAMENTS ==================== */


/* ==================== SECTION BREADCRUMB ==================== */

#breadcrumbs-nav {
    margin: 20px;
    background: var(--first-color);
    border-radius: 5px;
}

#breadcrumbs-nav ul {
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
}

#breadcrumbs-nav ul li {
    font-size: 12px;
    color: #666666;
}

#breadcrumbs-nav ul li+li:before {
    padding: 8px;
    color: #666666;
    content: "/\00a0";
}

#breadcrumbs-nav ul li a {
    color: var(--third-color);
    text-decoration: underline;
}


/* ==================== SECTION CONTAINER ==================== */

.container {
    margin: 20px;
    padding: 30px;
    background: var(--first-color);
    border-radius: 5px;
}

.container hr {
    margin-bottom: 30px;
    background: var(--fourth-color);
    border: 1px solid var(--fourth-color);
}

.container form {
    width: 100%;
}

.container form label {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.container form label p {
    width: 40%;
    color: var(--second-color);
}

.container form label input,
.container form label select,
.container form label textarea,
.container form label input[type="submit"] {
    width: 60%;
    padding: 10px;
    border: solid 1.5px var(--fourth-color);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    resize: none;
}

.container form label[for="ville"] input:nth-of-type(1) {
    width: 10%;
    margin-right: 20px;
}

.container form label[for="ville"] input:nth-of-type(2) {
    width: calc(50% - 20px);
}

.container form label select {
    width: calc(60% - 50px);
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
}

.container form label textarea {
    height: 100px;
}

.container form label input[type="submit"] {
    width: 50px;
    height: 40px;
    border-radius: 0px 5px 5px 0px;
}

.container .action__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .action__btn a button,
.container .action__btn input {
    padding: 10px 20px;
    background: var(--fourth-color);
    color: var(--second-color);
    border: none;
    border-radius: 30px;
    user-select: none;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.container .action__btn .action__btn_move input:hover {
    background: var(--third-color);
    color: var(--first-color);
}

.container .action__btn .action__btn_close a button:hover {
    background: var(--deconnexion-color);
    color: var(--first-color);
}


/* ==================== RESPONSIVE SECTION CONTAINER ==================== */

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}